/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);*/
*:focus {
    outline: none;
  }
  
  body {
    background-image: url('R.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
  
  }
  
  #login-box {
    position: relative;
    margin: 5% auto;
    width: 800px;
    height: 800px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width:600px;
    height: 800px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 250;
    font-size: 28px;
    font-family: Lato, sans-serif;
  }
  
  input[type="text"],
  input[type="password"] {

    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 350px;
    height: 800px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
    background: #76edff;
  }
  
  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }
  
  button.social-signin {
    margin-bottom: 20px;
    width: 100px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.facebook {
    background: #32508E;
  }
  
  button.social-signin.twitter {
    background: #55ACEE;
  
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }
  input.upload-group{
    background: #3991dd;
  
  }
  p{
     
    margin: 0 0 10px 0;
  
    font-family: Lato, sans-serif;
    color: #000000;
  
  
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .clock {
    top:40;
    width: 10rem;
    height: 10rem;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
    inset 4px 4px 10px rgba(0,0,0,0.5),
    inset -4px -4px 10px rgba(67,67,67,0.5),
    4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
  
    }

    .outer-clock-face {

position: relative;
width: 100%;
height: 100%;
border-radius: 100%;
background: #282828;
overflow: hidden;
}
.outer-clock-face::after {

-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg)
}
.outer-clock-face::before, .outer-clock-face::after, .outer-clock-face .marking{

content: '';
position: absolute;
width: 5px;
height: 100%;
background: #1df52f;
z-index: 0;
left: 49%;
}
.outer-clock-face .marking {

  background: #bdbdcb;
  width: 3px;
  }
  .outer-clock-face .marking.marking-one {
  
  transform: rotate(30deg)
  }
  .outer-clock-face .marking.marking-two {
  
  transform: rotate(60deg)
  }
  .outer-clock-face .marking.marking-three {
  
  transform: rotate(120deg)
  }
  .outer-clock-face .marking.marking-four {
  
  transform: rotate(150deg)
  }

  .inner-clock-face {

    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    }
    .inner-clock-face::before {
    
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #4d4b63;
    z-index: 11;
    }

    .hand {

      width: 50%;
      right: 50%;
      height: 6px;
      background: #61afff;
      position: absolute;
      top: 50%;
      border-radius: 6px;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      }
      .hand.hour-hand {
      
      width: 30%;
      z-index: 3;
      }
      .hand.min-hand {
      
      height: 3px;
      z-index: 10;
      width: 40%;
      }
      .hand.second-hand {
      
        background: #ee791a;
        width: 45%;
        height: 2px;
        }